<div class="bridgeEmbed__item">
  <!-- Share menu -->

  <%= 
    render partial: 'medias/share_menu', locals: {
      item: entry[:id],
      tweet_id: entry[:oembed]['twitter_id'].to_s,
      text: entry[:translations].first[:text] #FIXME: Only getting the first translation
    }
  %>
    
  <!-- Item Geodata -->
  <% if entry[:oembed].respond_to?(:coordinates) && !entry[:oembed].coordinates.nil? %>
    <div class="bridgeEmbed__item-geodata">
      <a href="http://www.openstreetmap.org/?mlat=<%=
      entry[:oembed].coordinates[0] %>&mlon=<%= entry[:oembed].coordinates[1] %>&zoom=11#map=11/<%= entry[:oembed].coordinates[0] %>/<%= entry[:oembed].coordinates[1] %>" target="_blank">
        <i class="icon"></i>
        <%= entry[:oembed].coordinates[0] %>,
        <%= entry[:oembed].coordinates[1] %>
      </a>
    </div>
  <% end %>

  <!-- Item Source -->
  <div class="bridgeEmbed__item-embedly-card-container">
    <% if entry[:link].blank? %>
    <div class="bridgeEmbed__item-pender-card rendered">
    <% else %>
    <div class="bridgeEmbed__item-pender-card" data-src="<%= BRIDGE_CONFIG['pender_base_url'] %>/api/medias.js?url=<%= entry[:link] %>">
    <% end %>
      <%= entry[:source_text].blank? ? entry[:title] : entry[:source_text] %>
    </div>
  </div>

  <!-- Item Date and Author -->
  <% if entry[:link].blank? && !entry[:timestamp].blank? %>
  <div class="bridgeEmbed__item-date">
    <% unless entry[:source_author_name].blank? %>
      By <%= link_to_unless entry[:source_author_link].blank?, entry[:source_author_name], entry[:source_author_link], { target: '_blank' } %>, 
    <% end %>
    <%= time_tag Date.parse(entry[:timestamp]) %>
  </div>
  <% end %>

  <!-- Item Translation -->
  <% entry[:translations].each do |translation| %>
  <div class="bridgeEmbed__item-translation-and-comment">
  
    <div class="bridgeEmbed__item-translation  <%= get_translation_direction(translation, entry[:provider]) %>">

      <% unless translation[:translator_name].blank? %>
      <div class="byline">
        <span>Translated by </span>
        <%= link_to_unless translation[:translator_url].blank?, translation[:translator_name], translation[:translator_url],
            { target: '_blank', class: 'name' } %>
        <%= reviewed_stamp(translation) %>
      </div>
      <% end %>

      <div class="translation" style="direction: <%= get_translation_direction(translation, entry[:provider]) %>;">
        <%= parse_text_provider translation[:text], entry[:provider] %>
      </div>
    </div>

    <!-- Item Annotations -->
    <% translation[:comments].each do |comment| %>
      <div class="bridgeEmbed__item-comment">
        <% unless comment[:commenter_name].blank? %>
        <span class="byline">
            <%= link_to_unless comment[:commenter_url].blank?, comment[:commenter_name], comment[:commenter_url],
                { target: '_blank' } %>
          </span>
        <% end %>
        <div class="translation" style="direction: <%= get_comment_direction(comment) %>;">
          <%= parse_text_provider comment[:comment], entry[:provider] %>
        </div>
      </div>
    <% end %>

    <div class="breadcrumb">
      <% project_path = [BRIDGE_CONFIG['bridgembed_host'], 'medias', 'embed', @project].join('/') %>
      This translation is part of the 
      <%= link_to @project, project_path, target: '_blank' %> 
      project on 
      <a href="http://speakbridge.io" target="_blank">Bridge</a>.
    </div>
  </div>
  <% end %>

</div>
