<!-- Share menu -->

<a href="#" class="bridgeEmbed__share" title="Share"><span>Share</span></a>

<ul class="bridgeEmbed__share-menu">

  <!-- Permalink-->

  <li>
    <%= link_to 'Permalink', '#', class: 'bridgeEmbed__link-embed-code' %>
    <textarea class="bridgeEmbed__embed-code" rows="3" readonly><%= [BRIDGE_CONFIG['bridgembed_host'], 'medias', 'embed', @project, @collection, item].join('/') %></textarea>
  </li>

  <!-- Embed Code -->

  <li>
    <%= link_to 'Embed Code (copy & paste)', '#', class: 'bridgeEmbed__link-embed-code' %>
    <textarea class="bridgeEmbed__embed-code" rows="4" readonly>
      &lt;script type="text/javascript" src="<%= [BRIDGE_CONFIG['bridgembed_host'], 'medias', 'embed', @project, @collection, item].join('/') %>.js"&gt;&lt;/script&gt;
    </textarea>
  </li>

  <!-- Share on Twitter -->

  <li>
    <%
      params = { url: short_url_for(@project, @collection, item), text: text }
      params[:in_reply_to] = tweet_id unless tweet_id.blank?
    %>
    <%= link_to 'Share on Twitter',
        TwitterWebIntents.get_tweet_url(params),
        class: 'bridgeEmbed__link-share-twitter',
        target: '_blank'
    %>
  </li>

  <!-- Share on Facebook -->

  <li>
    <% url_embed = [BRIDGE_CONFIG['bridgembed_host'], 'medias', 'embed', @project, @collection, item].join('/')%>
    <% base_url = "https://www.facebook.com/dialog/share?"%>
    <%= link_to 'Share on Facebook',"#{base_url}app_id=616458698451927&href=#{url_embed}&redirect_uri=#{url_embed}", class: 'bridgeEmbed__link-share-facebook', target: '_blank' %>
  </li>



  <!-- Screenshot -->

  <li>
    <%= link_to 'Screenshot', "/medias/embed/#{@project}/#{@collection}/#{item}.png", target: 'blank', class: 'bridgeEmbed__link-screenshot' %></li>

</ul>
