<div class="bridgeEmbed__item">
  <!-- Share menu -->
  <%= render partial: 'medias/share_menu', locals: { id: Digest::SHA1.hexdigest(entry[:link]), tweet_id: entry[:oembed]['twitter_id'].to_s, text: entry[:translation] } %>
    
  <!-- Item Geodata -->
  <% unless entry[:oembed].coordinates.nil? %>
    <div class="bridgeEmbed__item-geodata">
      <a href="http://www.openstreetmap.org/?mlat=<%= entry[:oembed].coordinates[0] %>&mlon=<%= entry[:oembed].coordinates[1] %>&zoom=11#map=11/<%= entry[:oembed].coordinates[0] %>/<%= entry[:oembed].coordinates[1] %>" target="_blank">
        <i class="icon"></i>
        <%= entry[:oembed].coordinates[0] %>,
        <%= entry[:oembed].coordinates[1] %>
      </a>
    </div>
  <% end %>

  <!-- Item Source -->
  <div class="bridgeEmbed__item-embedly-card-container">
    <a data-card-controls="0" data-card-width="100%" class="bridgeEmbed__item-embedly-card" href="<%= entry[:link] %>"></a>
  </div>

  <!-- Item Translation -->
  <div class="bridgeEmbed__item-translation">
    <div class="translation" style="direction: <%= get_text_direction(entry) %>;"><%= parse_translation entry %></div>
      
      <% unless entry[:translator_name].blank? %>
      <div class="byline">
        <span>Translated by </span>
        <%= link_to_unless entry[:translator_url].blank?, entry[:translator_name], entry[:translator_url],
            { target: '_blank', class: 'name' } %>
      </div>
      <% end %>

  </div>

  <!-- Item Annotations -->
  <% unless entry[:comment].blank? %>
    <div class="bridgeEmbed__item-comment">
      <%= parse_text(entry[:comment]).html_safe %>
      
      <% unless entry[:commenter].blank? %>
      — <span class="byline">
          <%= link_to_unless entry[:commenter_url].blank?, entry[:commenter], entry[:commenter_url],
              { target: '_blank' } %>
        </span>
      <% end %>
    </div>
  <% end %>

</div>
