<!DOCTYPE html>
<!-- This is the child window -->
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bridge Embed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <%= include_twitter_tags_if_needed(@entries, @type, @id, @site) %>
    <%= stylesheet_link_tag '/stylesheets/bridge', media: 'all' %>
    <%= javascript_include_tag 'jquery-2.1.3.min' %>
    <%= javascript_include_tag 'embed-child' %>
    <%= javascript_include_tag 'share-menu' %>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
  </head>

  <body class="bridgeEmbed">
      
    <% @entries.each do |entry| %>
      <%= render partial: 'medias/single_embed', locals: { entry: entry } %> 
    <%end %>
    
    <div id="bridgeEmbed__footer">
      <a href="http://meedan.com/bridge" target="_blank">Powered by Bridge</a>
    </div>

    <script type="text/javascript">
      Bridge.type = '<%= @type %>';
      Bridge.id = '<%= @id %>';
    </script>
  </body>
</html>
