<header class="title">  
  <h1 class="project--title"><%= @entries.first['project'] unless @entries.empty? %></h1>
  <h2>A Bridge project for translated social media about newsworthy events. Send your <a href="#">tips and suggestions</a>.</h2>

  <img class="project--avatar" src="http://placehold.it/50x50">
</header>

<div class="project">
  <div class="columns">
    <% @entries.last(3).each do |collection| %>
      <div class="column">
        <header>
          <h2 class="channel--title"><%= collection['name'] %></h2>
          <div class="channel--description"><%= collection['name'] %></div>
        </header>
        <div class="embeds">
          <script type="text/javascript" src="/medias/embed/<%= @project %>/<%= URI.encode(collection['id']) %>.js"></script>
        </div>
      </div>
    <% end %>
  </div>
</div>

<footer class="call-to-action">
  <p>Translations by Meedan&rsquo;s translations team. <a class="patreon" href="http://meedan.com" target = "_blank">Learn more</a> or <a class="translate" href="mailto:hello@meedan.com">translate with us</a></p>
</footer>
