<header class="title">  
  <h1 class="project--title"><%= @entries.first['project'] unless @entries.empty? %></h1>
  <h2 class="project--description">Translations related to <%= @entries.first['project'] unless @entries.empty? %></h2>
</header>

<div class="project">
  <div class="columns">
    <% @entries.last(3).each do |collection| %>
      <div class="column">
        <header>
          <h2 class="channel--title"><%= collection['name'] %></h2>
          <!-- <div class="channel--description"><%= collection['name'] %></div> -->
        </header>
        <div class="embeds">
          <script type="text/javascript" src="/medias/embed/<%= @project %>/<%= URI.encode(collection['id']) %>.js"></script>
        </div>
      </div>
    <% end %>
  </div>
</div>

<footer class="call-to-action">
  <p>Powered by Bridge, a platform for social translation of social media. Follow us on <a href="http://facebook.com/speakbridge">Facebook</a> and <a href="http://twitter.com/speakbridge">Twitter</a>.</p>
  <img class="project--avatar" src="/images/nora.png">
  <img class="project--avatar" src="/images/tom.png">
  <img class="project--avatar" src="/images/sarah.png">
</footer>
