<!DOCTYPE html>
<!-- This is the child window -->
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bridge Reader (Beta) | <%= @project.titleize %> Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />

    <%= content_for?(:head) ? yield(:head) : '' %>

    <%= include_twitter_tags(@project, @collection, @item, @level, @site) %>
    <%= stylesheet_link_tag '/stylesheets/bridge', media: 'all' %>
    <%= javascript_include_tag 'jquery-2.1.3.min' %>
    <%= javascript_include_tag 'embed-child' %>
    <%= javascript_include_tag 'share-menu' %>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
  </head>

  <body class="bridgeEmbed" id="bridge__<%= @level %>">
    <%= yield %>

    <script type="text/javascript">
      Bridge.project = '<%= @project %>';
      Bridge.collection = '<%= @collection %>';
      Bridge.item = '<%= @item %>';
      Bridge.path = '<%= @path %>';
    </script>

    <div id="bridgeEmbed__footer">
      <a href="http://meedan.com/bridge" target="_blank">Powered by Bridge</a>
    </div>

    <%= include_google_analytics_tag %>
  </body>
</html>
