<!DOCTYPE html>
<!-- This is the child window -->
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= embed_title %></title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />

    <%= include_twitter_tags(@project, @collection, @item, @level, @site) %>
    <%= include_facebook_tags(@project, @collection, @item, @level, @site) %>
    <%= content_for(:style) || stylesheet_link_tag('/stylesheets/bridge', media: 'all') %>
    <%= javascript_include_tag 'jquery-2.1.3.min' %>
    <%= javascript_include_tag 'embed-child-pender' %>
    <%= javascript_include_tag 'share-menu' %>
    <%= javascript_include_tag 'modal' %>
    <script src="//cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
  </head>

  <body class="bridgeEmbed" id="bridge__<%= @level %>">
    <%= yield %>

    <script type="text/javascript">
      Bridge.project = '<%= @project %>';
      Bridge.collection = '<%= @collection %>';
      Bridge.item = '<%= @item %>';
      Bridge.path = '<%= @path %>';
    </script>


    <div id="bridgeEmbed__footer">
      <a href="http://meedan.com/bridge" target="_blank">Powered by Bridge</a>
    </div>

    <%= include_google_analytics_tag %>
  </body>
</html>
